.blog {
  padding: 40px;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.bodyArticle {
  text-align: left;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.name {
  text-align: center;
  padding-bottom: 5px;
}

.bodyArticle {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/*  RESPONSIVE TABLET / SMALL COMPUTER SCREEN >780px */
@media screen and (min-width: 780px) and (max-width: 1340px){
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

/*  RESPONSIVE MOBILE <780px */
@media screen and (max-width: 779px){
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}